<!--<h1>Home#about_us</h1>
<p>Find me in app/views/home/about_us.html.erb</p>-->
<div class="cont_wrap"><h2>Gift some, win some!</h2>
<p>Participate and gift/tag Avon jewellery to as many friends as you can and stand a chance to win Avon  exclusive Jewellery.</p>
<p>Every week, starting 5th September, 2012, Avon India will choose two winners for maximum gifts sent and maximum friends tagged each.</p>
<h2>Winner will be entitled to the following:</h2>
<p>- One piece of Jewellery they sent to the maximum no. of friends<br />
-One jewellery they tagged their maximum friends on.<br /></p>
</div>
