<div class="main_cont">
    <div class="left_cont">
      <div class="model_img" style="padding-top: 70px"> <img src="/assets/model.png" alt="" /> </div>
      <!--end model_img -->
    </div>
    <!--end left_cont -->
    <div class="right_cont">
      <div class="gift_jewel"><img src="/assets/gift-a-jewel.png" alt="" /></div>
      <!--end gift_jewel -->
      <div class="cont_box">
        <p>Gift some, win some! <br />This festive season, GIFT and TAG an exquisite collection from Avon Jewels to as many friends and family members as possible and stand a chance to WIN the actual collection for your loved one!</p>
        <div class="enter_bttn"><a href="/gallery"><img src="/assets/enter-bttn.png" alt="" /></a></div>
        <!--end enter_bttn -->
      </div>
      <!--end cont_box -->
      <div class="img_thumbs">
        <ul>
          <li><a href="/gallery"><img src="/assets/thumb-img.png" alt="" /></a><span class="jname">Peacock reflection</span><span class="jname2">tanmaniya set</span></li>
          <li><a href="/gallery"><img src="/assets/thumb-img2.png" alt="" /></a><span class="jname">Divine lotus</span><span class="jname2">necklace set</span></li>
          <li><a href="/gallery"><img src="/assets/thumb-img3.png" alt="" /></a><span class="jname">Padmini royal</span><span class="jname2">chokar set</span></li>
          <li><a href="/gallery"><img src="/assets/thumb-img4.png" alt="" /></a><span class="jname">Lavanya</span><span class="jname2">collection</span></li>
        </ul>
      </div>
      <!--end img_thumbs -->
    </div>
    <!--end right_cont -->
    <div class="clear"></div>
  </div>
