<div class="cont_wrap">
    <h2>Gift a Jewel contest Terms & Conditions</h2>
    <p>
      Following terms and conditions (the "Terms and Conditions") shall apply to the 'Gift a Jewel' campaign/
Contest (detailed below). For the purposes of these terms and conditions, the term Avon India, when
used with reference to a legal entity, shall mean AVON Beauty Products India Private Limited. The
campaign/contest is detailed below (the "campaign/ promotion"): <br />
    </p>
    
    <p>
      1. The campaign/ promotion shall run from 6th September, 2012 to 1st October, 2012
("the campaign/ promotion period"), Avon India fan page on Facebook: http://
www.facebook.com/India.Avon. Announcement mails and online ad banners.
    </p>
    <p>
      2. Avon India can curtail or extend the campaign period, as it deems necessary.
    </p>
     <p>
    3. Avon India shall publish pictures of five of its new jewellery products on the website.
</p>
     <p>
4. Each Participant can click one of the picture and gift or tag the same to anyone of his/her
friend on the facebook. through 'Gift a Jewel' app.
</p>
     <p>

5. If a participant sends a gift of the picture to his friend, receiver of the gift will be notified and
gift will be posted on receiver's wall.
</p>
     <p>

6. If a participant tags his friends on a Avon jewellery, jewellery image will be uploaded in the
gallery of the participant who is tagging and same image will be posted on the wall of the
tagged friend.
</p>
     <p>

7. Each Participant can gift and/or tag a product to a friend only once. However he/she can gift and/or tag one of other product to same friend.
</p>
     <p>

8. By registering to the contest/app and gifting jewellery virtually, the Participants consent to
share these details with Avon.
</p>
     <p>

9. Anybody found to have made use of illegitimate/unethical or has gifted/tagged by
cheating or making Fake Profiles to maximize their chances of winning the contest will be
disqualified and banned from taking part in any contest organized by Avon India.
</p>
     <p>

10. Only Indian citizens with valid postal addresses in India and who are above the age of 18
can participate in the contest.
</p>
     <p>

11. Avon India will require the Participants to produce documentary proof to support postal
address and age.
</p>
     <p>

12. Every week, starting 5th September, 2012, Avon India will choose two winners, one for
maximum gifts sent and one for maximum friends tagged each. Winner will be entitled to
the following:
-the winner for maximum gifts sent to his friends will get one piece of Jewellery he/she sent to
his/her friends
- the winner for maximum friends tagged will get one piece of jewellery he/she tagged their
friends on.
</p>
     <p>
13. Winners will be announced at the Avon India FB every week on Monday till 1 st October
2012.
</p>
     <p>
14. Avon India's decision will be final and binding upon the contestants and no correspondence
will be entertained with regards to the selection process.
</p>
     <p>
15. The campaign/promotion/contest shall be valid in India only.
</p>
     <p>
16. Avon India is authorized to remove any entry that it does not see fit in the spirit of the
campaign. Any irrelevant, spam, porn, or otherwise improper submission can be taken off
without warning and explanation.
</p>
     <p>
17. Participants shall agree that they will participate with true sportsmanship and not indulge in
any smear tactics that might involve, but not limited to, posting irrelevant, rude, or mocking
comments at others. However, Participants are free to comment honest opinions and Avon
India will take a decision on case to case basis.
</p>
     <p>
18. Each Participant must ensure that his/her participation in the Contest is lawful and is in
accordance with the applicable laws.
</p>
     <p>
19. No participation or other fee is required to be paid for participating in the Contest.
</p>
     <p>
20. Avon India reserves the right to reject any entry form without assigning any reason thereof.
Any decision taken in this regard shall be final and binding, and not subject to any dispute or
challenge.
</p>
     <p>
21. The Participants hereby waive all rights and grant to Avon India, or its Affiliates a royalty-
free, non-exclusive, perpetual worldwide license to copy, modify and otherwise use
and distribute their submission entry and/or any element of the submission, in any and
all media, and in any publication whether online, offline or on the internet. Avon India
shall also be free to use any ideas, concepts, know-how or techniques contained in such
submissions or materials for any purpose.
</p>
     <p>
22. Avon India does not make any commitment, expressed or implied, to respond to any
feedback, suggestion and/or queries of the Participants or furnish reasons for inclusion and/
or exclusion of any particular submission of the Participant at any stage of the campaign.
</p>
     <p>
23. Avon India may assign any or all of its rights under these Terms and Conditions to its
Affiliates without consent of the Participants.
   </p>
     <p> 
24. Participation in the Contest shall be construed as an acceptance of the Terms and
Conditions stipulated herein. Any breach or default by a Participant of any of the terms and
Conditions herein shall result in immediate disqualification without notice.
</p>
     <p> 
25. Participant shall agree that he/she will adhere to the online laws applicable in India and shall
responsibility for any breach from his/ her part.
</p>
     <p> 
26. Avon India is engaged in the organization and management of the Contest, including its
directors, officers, partners, employees, consultants and agents are under no obligation to
render any advice or service to any Participant in respect of the Contest.
</p>
     <p> 
27. Any attempt by a Participant to deliberately damage any website or undermine the
legitimate operation of the Contest is a violation of Criminal and Civil Laws, and should
such an attempt be made, Avon India reserves the right to seek damages from any such
Participant to the fullest extent permitted by law.
</p>
     <p> 
28. The names of the winners shall be announced through the contest page/ Avon India FB
wall. Participants will also be sent a message on email by Avon India or its agency officials.
Winners at the end of the campaign are required to write back with their addresses within
5 days of receiving the messages/announcement. Avon India will courier the prizes in 2-3
weeks time to the winners, or advise future action.
</p>
     <p> 
29. Avon India or its Affiliates shall be entitled to use, in any manner, the name, photographs
and other details of the Participant or any other participating person, likeness and status
in any publication including the Benefits awarded to them, if any. By participating in the
Contest, all Participants hereby agree to the same.
</p>
     <p> 
30. In the event awards of winners, the awards involve manufactured items, these shall be
subject to manufacturer's terms and conditions for warranty, service and maintenance, and
Avon India does not accept any responsibility for the same.
</p>
     <p> 
31. Where the awards under the current campaign/ promotion are items/goods, these shall be
subject to availability. Avon India at its discretion can provide alternate items of equivalent
value.
</p>
     <p> 
32. Awards of the items/goods shown in the campaign/ promotion website and/or
announcement mailers may differ from the items/goods given.
</p>
     <p> 
33. Taxes and other levies imposed by any relevant applicable government or tax authority, as
well as other costs including, insurance and incidental costs, that may be levied or incurred
on the Prizes shall be fully borne by the selected Participants. All Prizes shall be subject to
deduction of applicable withholding taxes.
</p>
     <p> 
34. The campaign/ promotion shall be governed by and construed in accordance with the laws
of India. Any disputes, differences and, or, any other matters in relation to and arising
out of the Contest and, or, pertaining to the rules and regulations and, or, the Terms and
Conditions shall be referred to arbitration under the Arbitration & Conciliation Act, 1996.
The arbitral tribunal shall consist of a sole arbitrator to be appointed be Avon India. The
venue of arbitration shall be New Delhi.
</p>
     <p> 
35. The Participants agree to be bound by the requirements of data protection laws and
Avon India's Security and Privacy Statement as amended from time to time. Avon India's
Security and Privacy Statement can be found at http://www.in.Avon.com.
</p>
     <p> 
36. The Participant undertakes to indemnify and keep Avon India harmless and indemnified
against any loss, damage, claims, costs and expenses which may be incurred or suffered by
Avon India due to breach of any Terms and Conditions contained herein by the Participant
and/or infringement or violation of any patent, copyright, trademark, trade secret or other
proprietary right of a third party by the Participant and, or, arising from the participation of
the Participant in the campaign/ promotion.
</p>
     <p> 
37. In addition to these Terms and Conditions, other specific terms may be imposed by Avon
India any time to deal with any unforeseen situation. Avon India also reserves the absolute
right to change the Terms and Conditions contained herein and, or, any other rules and
regulations in respect of the campaign at any time without any notice, without assigning
any reason and without any liability whatsoever. Participants are requested to refer to such
other terms and conditions, if any, which may be displayed on-line or intimated separately
as Avon India considers fit. However, no obligation is cast on Avon India to separately
intimate each individual participant with regard to such additional terms and conditions.
</p>
     <p> 
38. Avon India also reserves the right to withdraw or discontinue with the campaign/ promotion
at any stage without any liability whatsoever to the Participant and, or, anyone.
     </p>
</div>
<div style="min-width:810px; min-height: 30px;"></div>
  
